@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500;600&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-color: rgb(0, 0, 0);
  font-family: "Raleway", sans-serif;
}

.header-name {
  color: white;
}

.header-name:hover {
  color: #0077ff;
}

.nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding: 8px 20px;
  color: white;
  text-decoration: none;
}

.nav:hover {
  color: #0077ff;
}

.nav2 {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 3px 3px;
  color: white;
  text-decoration: none;
}

.nav2:hover {
  color: #0077ff;
}


.header {
  overflow: hidden;
  size: 60%;
}

.nav div {
  margin-left: 20px;
}

.nav img {
  width: 45px;
  height: auto;
}

.photo-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin-top: 40px;
}

.spinner {
  width: 24px;
  animation: loading infinite 3s linear;
}

.photo-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;
  border-radius: 100%;
  max-width: 75%;
  margin: 0 auto;
  margin-top: 5vh;
}

.show {
  width: 100%;
  object-fit: cover;
  border-radius: 1%;
}

.card {
  background-color: rgb(40, 40, 40);
  border: 1px solid #050505;
  border-radius: 1%;
}

.tag {
  padding: 4px 8px;
  border: 1px solid #e5eaed;
  color: #5faef8;
  border-radius: 50px;
  font-size: 12px;
  font-weight: 600;
}


.name {
  font-size: 24px;
  font-weight: 600;
  color: #ffffff;
  margin-top: 16px;
}

pre {
  font-size: 14px;
  color: #ffffff;
  line-height: 150%;
}


.button {
  border: none;
  padding: 12px 24px;
  border-radius: 50px;
  font-weight: 600;
  color: #0077ff;
  background-color: #70b1f617;
  margin: 0 auto;
  display: block;
  cursor: pointer;
}

.button-wrapper {
  margin: 1% auto;
}

.card__details {
  padding: 16px 8px 8px 8px;
}

.button:focus,
.button:hover {
  background-color: #0077ff;
  color: #e0efff;
}


form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  color: white;
}

form>label {
  display: none;
  color: white;

}

form>input {
  padding: 1rem 2rem;
  border-radius: 5rem;
  font-weight: 600;
  color: #0077ff;
  background-color: #000000;
}

ul {
  list-style-type: none;
}

.datagrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, -1fr);
  gap: 0.2rem;
  grid-template-areas:

    "content1 content1 content1 content1"
    "content2 content2 content2 content2"
    "content3 content3 content3 content3"
    "content4 content4 content4 content4"
    "content5 content5 content6 content6"
  ;
}

#content1 {
  grid-area: content1;
}

#content2 {
  grid-area: content2;
}

#content3 {
  grid-area: content3;
}

#content4 {
  grid-area: content4;
}

#content5 {
  grid-area: content5;
}

#content6 {
  grid-area: content6;
}

#content7 {
  grid-area: content7;
}

.price {
  color: white;
}

form .input:focus,
.input:hover {

  color: #d9ebff;
}

.counter {
  color: white;
  position: absolute;
  left: 95%;
  top: 5%;
}

.cart {
  position: absolute;
  left: 95%;
  max-width: 4%;
  top: 8%;
}

.add-photo {
  padding: 1%;
  padding-bottom: 5%;
}

.photo-card-show {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;
  border-radius: 100px;
  max-width: 40%;
  margin: 0 auto;
  margin-top: 5vh;
}

.show-image {
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.card-show {
  background-color: rgb(40, 40, 40);
  border: 1px solid #050505;
  border-radius: 5px;
}


.tag-show {
  padding: 4px 8px;
  border: 1px solid #e5eaed;
  border-radius: 50px;
  font-size: 12px;
  font-weight: 600;
  color: #5faef8;
}

.name-show {
  font-size: 24px;
  font-weight: 600;
  color: white;
  margin-top: 16px;
}

.delete {
  margin-bottom: 100px;
  border: none;
  padding: 12px;
  border-radius: 50px;
  font-weight: 600;
  color: #0077ff;
  background-color: #70b1f64b;
  margin: 1% auto;
  display: block;
  cursor: pointer;
}

.delete:focus,
.delete:hover {
  background-color: #0077ff;
  color: #d9ebff;
}

.price-show {
  color: white;
}

@keyframes loading {
  from {
    transform: rotateZ(0deg);
  }

  to {
    transform: rotateZ(360deg);
  }
}