@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500;600&display=swap");

*{
  box-sizing: border-box;
}
body {
  background-color: rgb(0, 0, 0);
  font-family: "Raleway", sans-serif;
}

.header-name{
  color: white;
}

.nav{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding: 8px 20px;
  color: white;
  text-decoration: none;
}
.nav:hover{
  color: #0077ff;
}

.nav2{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 3px 3px;
  color: white;
  text-decoration: none;
}
.nav2:hover{
  color: #0077ff;
}


.header{
  overflow: hidden;
  size: 60%;
}

.nav div {
  margin-left: 20px;
}

.nav img {
  width: 45px; 
  height: auto;
}

.photo-list{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin-top: 40px;
}

.spinner {
width: 24px;
animation: loading infinite 3s linear;
}

.photo-list a{
    text-decoration: none;
    color: black;
}

.photo-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;
  border-radius: 100%;
  max-width: 75%;
  margin: 0 auto;
  margin-top: 5vh;
}

.show {
  width: 100%;
  object-fit: cover;
  border-radius: 1%;
}

.card {
  background-color: rgb(40,40,40);
  border: 1px solid #050505;
  border-radius: 1%;
}

.tag {
  padding: 4px 8px;
  border: 1px solid #e5eaed;
  color: #5faef8;
  border-radius: 50px;
  font-size: 12px;
  font-weight: 600;
}


.name {
  font-size: 24px;
  font-weight: 600;
  color: #ffffff;
  margin-top: 16px;
}

p {
  font-size: 14px;
  color: #ffffff;
  line-height: 150%;
}


button {
  border: none;
  padding: 12px 24px;
  border-radius: 50px;
  font-weight: 600;
  color: #0077ff;
  background-color: #70b1f670;
  margin: 0 auto;
  display: block;
  cursor: pointer;
}

.card__details {
  padding: 16px 8px 8px 8px;
}

button:focus,
button:hover {
  background-color: #0077ff;
  color: #e0efff;
}

.price {
  color: white;
}

.Add {
  display: flex;
  display: grid;
  grid-template-columns: auto auto auto auto;
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;
  border-radius: 100px;
  max-width: 20%;
  margin: 0 auto;
  margin-top: 5vh;
  margin-bottom: 5vh;
  padding-left: 5%;
  color: white;
  
}
.add-photo{
  padding: 1%;
  padding-bottom: 5%;
}

.flex1{
  display: flex;
  display: grid;
  max-width: 100%;
  flex-direction: column;
  justify-content: flex-start;
}

.photo-card-show {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;
  border-radius: 100px;
  max-width: 40%;
  margin: 0 auto;
  margin-top: 5vh;
}

.show-image {
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.card-show {
  background-color: rgb(0, 0, 0);
  border: 1px solid #050505;
  border-radius: 5px;
}


.tag-show {
  padding: 4px 8px;
  border: 1px solid #e5eaed;
  border-radius: 50px;
  font-size: 12px;
  font-weight: 600;
  color: #5faef8;
}

.name-show {
  font-size: 24px;
  font-weight: 600;
  color: white;
  margin-top: 16px;
}

.ptag-show {
  font-size: 14px;
  color: #ffffff;
  line-height: 150%;
}

.delete {
  margin-bottom: 50px;
}

input {
  padding: 5px 10px;
  border-radius: 50px;
  font-weight: 600;
  color: #0077ff;
  background-color: #000000;
}
input:focus,
input:hover {
  
  color: #d9ebff;
}

form {
  border: none;
  padding: 12px 24px 12px 12px;
  border-radius: 50px;
  font-weight: 600;
  color: #ffffff;
  cursor: pointer;
}

.price-show {
  color: white;
}

@keyframes loading{
from{
  transform: rotateZ(0deg);
}
to{
  transform: rotateZ(360deg);
}
}


